$background-img : url(../img/m-h-night.jpg);
$primary-font-color: #ffffff;
$secondary-font-color: #ffffff;
$highlighter: #ff4e33;
$button: #dfa504;
$primary-background: #21232e;
$secondary-background: #3b3f50;
$gradient-start: #dfa504;
$gradient-end:#932d53;