$background-img : url(../img/m-h-day.jpg);
$primary-font-color: #2c2f3c;
$secondary-font-color: #ffffff;
$highlighter: #14a0c7;
$button: #699900;
$primary-background: #ffffff;
$secondary-background: #21232e;
$gradient-start: #66950b;
$gradient-end:#2b51b2;