body{
    margin: 0 0 0 250px;
}
.book-lister-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color:gainsboro
}
ul{
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    font-weight: 500;
    list-style: none;
}
ul:hover{
    background: rgba(255, 255, 255, 0.5);
}
.listEl{
    font-size: 18px;
    cursor: pointer;
}
.edit-btn {
    float: right;
    cursor: pointer;
}
.addBtn {
    padding: 10px 50px;
    margin: 10px 70px;
    cursor: pointer;
}
.content-container {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}
.item {
    display: none;
    padding: 10px 50px;
}
.title {
    font-size: 25px;
}
.image {
    height: 400px;
    margin: 0 10px;

}
.plot {
    width: 600px;
    font-size: 20px;
    line-height: 30px;
}
.active{
    display: block; 
}
.discardBtn,
.cancelModal{
    cursor: pointer;
}
.cancel-btn {
    margin-bottom: 15px;
}
.form-container,
.editing-container {
    margin: auto;
    width: 30vw;
    height: 200px;
    display: grid;
}
input {
    margin-bottom: 20px;
}
.modalContainer {
    background: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal {
    background: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    max-width: 95%;
    width: 500px;
    height: 200px;
    animation: modalopen 1s;
    position: fixed;
    top: 40%;
    left: 40%;
    align-items: center;
}
.modalClose {
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}
.modalText{
    padding:20px 100px;
}
.discardBtn{
    margin-left: 30px;
}
.cancelModal{
    margin-left:100px;
}